<form method="post" action='/'>
  <label for="significant_other_is">My significant other is</label>
  <select id='significant_other_is' name='significant_other_is'>
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="cat">A cat</option>
  </select>

  <label for="likes">And likes...</label>
  <select id='likes' name='likes'>
    <option value="no-clue">I haven't the slightest clue</option>
    <option value="animals">Animals</option>
    <option value="gardening">Gardening</option>
    <option value="sports">Sports</option>
    <option value="music">Music</option>
<!--
    <option value="cooking">Cooking</option>
    <option value="fashion">Fashion</option>
    <option value="romantic-movies">Romantic Movies</option>
-->
  </select>

<!--
  <input name="checkbox_ex_1" id="checkbox_ex_1" type="checkbox"> Example 1
  <input name="checkbox_ex_2" id="checkbox_ex_2" type="checkbox"> Example 2
-->

  <button type='submit'>Give me horrible ideas!</button>
</form>