<form method="post" action='/'>
  <label for="me">My friends would describe me as</label>
  <select id='me' name='me'>
    <option value="sport">Unable to sit still</option>
    <option value="geek">A geek</option>
    <option value="animal">An animal lover</option>
  </select>

  <label for="likes">And I'm interested in..</label>
  <select id='likes' name='likes'>
    <option value="no-clue">I haven't the slightest clue</option>
    <option value="outdoor">Nature</option>
    <option value="science">Science</option>
    <option value="sports">Sports</option>
    <option value="music">Music</option>

  </select>

<!--
  <input name="checkbox_ex_1" id="checkbox_ex_1" type="checkbox"> Example 1
  <input name="checkbox_ex_2" id="checkbox_ex_2" type="checkbox"> Example 2
-->

  <button type='submit'>Give me career advice!</button>
</form>