<!DOCTYPE html>
<html>
<head>
  <title>Horrible Valentine Gift Ideas!</title>
</head>
<body>
  <div class='container'>
    <h1>Horrible Valentine Gift Ideas!</h1>
    <%= yield %>
  </div>
</body>
</html>