<!DOCTYPE html>
<html>
<head>
  <title>Captivating Career Advice!</title>
 
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class='container'>
    <h1>Captivating Career Advice!</h1>
    <%= yield %>
  </div>
</body>
</html>